<div id="categories-side-bar " class="  w-80  bg-gray-50 rounded-md mr-14 h-auto    ">
    {% for category in menu_categories  %}
    <div id='category-item'   class=' group border-b  border-gray-200 last:border-0 ' > 
                {% if category.sub_categories.all %}
            <div style='' id="sub_categories_cont" class='absolute left-40  top-0 pl-24  group-hover:z-20 group-hover:visible hover:visible    invisible     '>
            <div style='' class='   relative    min-w-[160px] max-h-96 bg-gray-50 border border-gray-200 rounded-xl   grid grid-rows-6 grid-flow-col  ' >
                
                {% for subcategory in category.sub_categories.all  %}
                
                <div class=' p-4 bg-gray-00   border-0 last:border-0 border-gray-300'>
                   <a href="{% url 'subcategory' category.slug subcategory.slug %}"><h1 class='label underline underline-offset-1' > {{subcategory.name}} </h1></a>
                   
                </div>
        {% endfor %}

            </div>
        </div>
            {% endif %}
        <a href="{% url 'category' category.slug %}" >
            <li class="w-full py-4  list-none flex justify-between p-2  relative z-30  "> 

            
            <div class="flex space-x-3 w-full ">
                
                <span class="text-md font-light">{{category.name }}</span>
            </div>
       
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" fill="rgba(81,84,85,1)"/></svg>
        </li>
     </a>
</div>
    {% endfor %}
    
</div>


